<header class="flex justify-center items-center text-center p-5 h-[45px]">
  <nav>
    <ul class="flex gap-13 text-[13px]">
      <a href="#">
        <li>Loja</li>
      </a>
      <a href="#">
        <li>Produtos</li>
      </a>
      <a href="#">
        <li>Cursos</li>
      </a>
      <a href="#">
        <li>Devs</li>
      </a>
      <a href="#">
        <li>Projetos</li>
      </a>
      <a href="#">
        <li>Sobre nós</li>
      </a>
      <a href="#">
        <li>Suporte</li>
      </a>
    </ul>
  </nav>
</header>