<header class="flex justify-center items-center p-5 h-[45px]">
  <nav class="flex-row">
    <ul class="flex gap-14 text-sm">
      <a href=""></a>
      <li>Loja</li>
      <a href=""></a>
      <li>Mac</li>
      <a href="">
        <li>Ipad</li>
      </a>
      <a href="">
        <li>Watch</li>
      </a>
      <a href="">
        <li>AirPods</li>
      </a>
      <a href="">
        <li>Tv e Casa</li>
      </a>
      <a href="">
        <li>Entretenimento</li>
      </a>
      <a href="">
        <li>Acessórios</li>
      </a>
      <a href="">
        <li>Suporte</li>
      </a>
    </ul>
  </nav>
</header>