<header class="flex justify-center items-center text-center p-5 h-[45px]">
  <nav>
    <ul class="flex gap-13 text-[13px]">
      <a href="#">
        <li>Loja</li>
      </a>
      <a href="#">
        <li>Mac</li>
      </a>
      <a href="#">
        <li>iPad</li>
      </a>
      <a href="#">
        <li>iPhone</li>
      </a>
      <a href="#">
        <li>Watch</li>
      </a>
      <a href="#">
        <li>AirPods</li>
      </a>
      <a href="#">
        <li>Tv e Casa</li>
      </a>
      <a href="#">
        <li>Entretenimento</li>
      </a>
      <a href="#">
        <li>Acessórios</li>
      </a>
      <a href="#">
        <li>Suporte</li>
      </a>
    </ul>
  </nav>
</header>
